hibernate.connection.url,jdbc:mariadb://epic-db:3306/epiclocaldb?sessionVariables=optimizer_search_depth=0
hibernate.connection.username,epicdb_user
hibernate.connection.password,epicdb_pass
#hibernate.generate_statistics,true
