hibernate.connection.url,jdbc:mariadb://{{HOST}}:{{PORT}}/{{DBNAME}}?sessionVariables=optimizer_search_depth=0
hibernate.connection.username,{{DBUSER}}
hibernate.connection.password,{{DBPASSWORD}}
#hibernate.generate_statistics,true
